.postsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsGrid {
  width: 100%;
}

.post {
  height: 200px;
  min-width: 150px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.9) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
